@charset "utf-8";
/* 基础样式*/


/**{list-style:none;margin:0;padding:0;text-decoration:none;}*/
body,ul,ol,h1,h2,h3,h4,h5,h6,form,li,p,input,select,legend,textarea,fieldset{margin:0;padding:0;}

body {
	font-size: 15px/ 1.5em;
	font-family: Arial, "MS Trebuchet", sans-serif;

}

html {
  font: 81.25% arial, helvetica, sans-serif;
  background: #fff;
  color: #333;
  line-height: 1;
  direction: ltr;
}

#base {
	min-width:1080px;
	margin:0 auto;
	
}
	

#main-head {
	height:100px;
	min-width:1000px;
	margin:0 auto;
	background-color: #F5F5F5;
	border-bottom:2px #fe580f solid;
}



#main-content {
	
	
}

#left-content {
	width:500px;
	float:left;
}

#right-content {
	width:370px;
	height:490px;
	padding:10px;
	padding:10px;
	background-color:#e5e5e5;
	border-radius:5px;
	float:left;
}


#main-footer {
	
	height:100px;
	
	
	background-color: #F5F5F5;
	padding: 4px;
	border-top:2px #fe580f solid;

}



#main-footer ul
{
	padding: 2px;
	
	width:500px;
	margin:2px auto;
	
	
}

#main-footer ul > li {
	
	display: inline;
	padding: 2px;
	margin: 2px;
	font-size: 12px;
}


a.footer_link
{
	color:#6aaefb;
	text-decoration: none;
}
a.footer_link:link, a.footer_link:visited{
	
	text-decoration: none;
}

a.footer_link:hover{
	
	text-decoration: underline;
}
