@charset "utf-8";
/* 登录页面样式*/


#login-form{
	
	padding-left: 20px;
}

#login-form label{
	font-size: 20px;
	display: block;
	padding: 5px 5px 5px 0px;
	margin: 5px 5px 5px 0px;
	color:#d379e3;
	font-weight:bold;
}

#login-info{
	margin:10px;
}

#login-info p{
	
	font-size:30px;
	color:#6aaefb;
}

.input-div,#email-div ,#password-div {
	
	margin-left:10px;
	width: 340px;
	height:90px;
	
}

#Email, #Password {
	
	width:300px;
	height: 25px;
}




	


	

	