@charset "utf-8";
/* 登录页面样式*/

#main-logo {
	
	width:180px;
	height:60px;
}

#main-content{
	
	width: 900px;
	height: 550px;
	margin: 20px auto;
}


#login-form{
	
	padding-left: 20px;
}

#login-form label{
	font-size: 20px;
	display: block;
	padding: 5px 5px 5px 0px;
	margin: 5px 5px 5px 0px;
	color:#d379e3;
	font-weight:bold;
}

#login-info{
	margin:10px;
}

#login-info p{
	
	font-size:30px;
	color:#6aaefb;
}

.input-div,#email-div ,#password-div {
	
	margin-left:10px;
	width: 340px;
	height:90px;
	
}

#Email, #Password {
	
	width:300px;
	height: 25px;
}

#controll-div 
{
	width:280px;
	padding: 5px;
	margin: 5px 25px;

	height: 40px;
}

#controll-div input
{
	width: 90px;
	
}

#submit-div {
	float:left;
	width: 90px;
	
}

#reg-div  {
	float:right;
	width:90px;
	right:0px;
}







	


	

	