@charset "utf-8";
/* 主要样式 */

#main-logo {
	float:left;
	width:180px;
	height:60px;
}


#user-info {
	margin-right:50px;
	margin-top:20px;
	float: left;
	position:absolute;
	right: 0px;
}

#user-info ul{
}

#user-info  ul > li {
	display: inline;
	padding: 2px;
	margin: 2px;
	font-size: 12px;
}

#content-nav {
	float:left;
	width: 236px;
	height: 300px;
}

#admin-div {
	height: 41px;
	border-bottom:1px #D9D9D9 solid;
	
}

#admin-div div{
	margin:9px auto;
	display: block;
	width: 90px;
	
}




#sub-section {
	/*overflow-y:hidden;*/
}

.su-section{
	overflow-y:hidden;
}
.su-section:hover {
	overflow-y:scroll;
}

#home-section  a{
	margin:9px auto;
	display: block;
	width: 90px;
	font-size:14px;
	color: #E35601;
}

#home-section {	
}
.section-footer {
	margin-left:16px;
	margin-bottom:13px;
	padding-bottom:13px;
	border-bottom:1px #D9D9D9 solid;
}

#group-tree{
}

#group-tree li{
	display: block;
	font-weight: bold;
	line-height: 21px;
}

#group-tree a{
	color:#000000;
}

#group-tree a:visited{
	color:#FE580F;
}

.sub-title {
	font-weight: bold;
	line-height: 21px;
	margin-left: 20px;
}

.sub-group {
	
}

.group-tab{
	height: 21px;
}

.group-name {
	height: 21px;
}
.sub-group-icon{
	height:21px;
	width:21px;
	float:left;
	background-image: url("../images/folder-gray.png");
	margin-left:10px;
	margin-right:2px;
}


.item a{
	
}

.item-icon {
	height:21px;
	width:21px;
	float:left;
	background:url("../images/sub-icon.png") no-repeat;
	background-position: center;
	margin-left:27px;
	margin-right:2px;
}

.item li:hover,.group-tab:hover,#home-section a:hover {
	background:#F5F5F5;
}
.item li  a{
	color:#DCDCDC;
	text-decoration: none;
}

.item-name {
	height: 21px;
	width: auto;
	display: inline-block;
}

.entry-count {
	display: inline-block;
	width:17px;
}

#content-viewer{
	/*float:left;*/
	margin-left:16.5%;
	/*min-width:700px;*/
	width: 83.5%;
}

#viewer-controllers{
	height: 50px;
	border-bottom:1px #D9D9D9 solid;
}

#viewer-header{
	margin: 10px;
}

#viewer-header a{
	height: 30px;
	margin: 5px;
	padding: 10px;
	font-size:15px;
	color:#000000;
	font-weight:bold;
	text-decoration: none;
}

#viewer-body {
	overflow-y: auto; 
}

#item-count {
	margin:5px;
	float:left;
}
#viewer-buttons {
	float:left;
	
	color:#176DFC;
	width:70px;
	height:30px;
	margin-top:10px;
	margin-right: 50px;
	position:absolute;
	right:0px;
}

#viewer-buttons div {
	float:left;
	width:33px;
	height:28px;
	background-color:#EFEFEF ;
	border:1px #A0A0A0 solid;
	
}

#viewer-buttons div:hover {
	
	background-color:#FFFFFF;
	cursor:pointer;
}


#item-next-button {
	
	background:url("../images/item-button.png") left 0px no-repeat;
}

#item-prev-button {
	
	background:url("../images/item-button.png") left -28px no-repeat;
}



.entry {
	width:auto;
	margin: 0px;
	margin-right:5px;
	border-right:1px #A0A0A0 solid;
	border-bottom:1px #A0A0A0 solid;
	border-left:1px #FE580F  solid ;
	border-radius:3px;
	/*box-shadow: 1px 3px 5px #D9D9D9;*/
}

.entry-id{
	display: none;
}
.entry-read {
	background-color: #EFEFEF;
}

.entry-abr {
	height:40px;
	margin:0px auto;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.like {
	margin:5px 5px;
	float:left;
	display:inline-block;
	width: 25px;
	height:25px;
}

.like:hover {
	/*background:url("../images/like-icon.png") left -50px no-repeat;*/
	cursor:pointer;
}
.like-icon {
	
	background:url("../images/like-icon.png") left 0px no-repeat;
}

.dislike-icon {
	
	background:url("../images/like-icon.png") left -25px no-repeat;
}


.entry-head {
	
}

.entry-title {
	float:left;
	text-align:center;
	display: inline-block;
	font-weight:bold;
	margin:5px 5px;
	height:25px;
	line-height: 25px;
	
}
.entry-content {
	margin: 10px 10px 20px 10px;
}

.entry-content img{
	max-width:500px;
	margin:5px;
}

.entry-content p, h1, h2, h3, h4, h5, h6{
	margin:5px;
}

.entry-content a{
	
}

.entry-link {
	display: block;
	text-decoration: none;
	margin:5px;
}
.entry-conttollers{
	
	margin:5px auto;
	background-color: #F5F5F5;
	height:30px;
	
}
