/<li class="sub-group">
                    <div class="group-tab">
                        <div class="sub-group-icon"></div>
                        <div class="group-name">{{feed['site_group']}}</div>
                        <!-- <div class="entry-count">(20)</div> -->
                    </div>
                    <ul class="item">
                        <li>
                            <a href="{{feed['site_url']}}">
                                <!-- style="background-image: url(/favicons?site=)" -->
                                <div class="item-icon"></div>
                                <div class="item-name">{{feed_name}}</div>
                                <div class="entry-count">(615)</div>
                            </a>
                        </li>
                        
                        <li>
                            <a href="">
                                <!-- style="background-image: url(/favicons?site=)" -->
                                <div class="item-icon"></div>
                                <div class="item-name">酷狗</div>
                                <div class="entry-count">(15)</div>
                            </a>
                        </li>
                        
                    </ul>
                    
</li>
