<ul id="group-tree">
{% set site_group = None %}
{%for  group in groups %}
    {% if site_group != group['site_group']%}
    {% set site_group = group['site_group'] %}
    <li class="sub-group">
        <div class="group-tab">
        <div class="sub-group-icon"></div>
                <div class="group-name">{% if site_group is None %} 未分类 {% else %} {{site_group}}{% end %}</div>
                        <!-- <div class="entry-count">(20)</div> -->
         </div>
         <ul class="item">
              <li>
                            <a href="">
                                <!-- style="background-image: url(/favicons?site=)" -->
                                <div class="item-icon"></div>
                                <div class="item-name">{{group['name']}}</div>
                                <div class="entry-count">({{group['entry_count']}})</div>
                            </a>
              </li>
                      
     {% else %}            
         </ul>
     {% end %}
                        
      
{% end %}
    </li>
                
</ul>
